/* Universial Elements*/


p{
    margin: 0;
    font-weight: lighter;
}

li{
    list-style-type:disc;
}


img{
    max-width: 100%;
}


h1{
    font-weight:700;
    font-family: 'Work Sans', sans-serif;
}

h2{
    font-weight:600;
    font-family: 'Work Sans', sans-serif;
}


h3{
    font-family: 'Work Sans', sans-serif;
}

a{
    text-decoration: none;
   
}

a:hover img{
    filter: brightness(0.95);
}

body{
    margin: 0;
    font-family: 'DM Sans', sans-serif;
     background-color: white;
    
} 

hr{
    
    background-color:rgb(139, 139, 139);
    height: 0.09em;
    margin-bottom: 4rem;
    margin-top: 4.5rem;


}

/* Navigation  */

.nav-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
    background-color:#3E3E3E;
    color:white;
    box-shadow: 0.125rem 0.125rem 0.3125rem rgba(60, 57, 55, 0.5);
}

.nav-main h1{
    padding-left: 1rem;
}

.nav-button-grid{
    display: flex;
    gap:2rem;
    padding-right: 1em;
}

.nav-button-grid a{
    
    font:bold;
    color: white;
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

/* underline Animation from https://css-irl.info/animating-underlines/ */

.nav-button-grid a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px; 
    background-color: #bcb8b6;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.2s ease-in-out;
}

.nav-button-grid a:hover {
    color: #aaa8a6;
}

.nav-button-grid a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}



/* Home Page */
.bold{
    font-weight: 800;
    
    background-color: #ffd700;
    padding: 0.2rem;
    
}


.intro {
    display: flex;
    align-items: center;
   
    background-image: linear-gradient(to bottom, rgba(173, 191, 255, 0.9), rgba(214, 232, 255, 0.3));
    padding-top: 6rem;
    padding-bottom: 8rem;

}

.intro-element {
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-left: 4vw;
    padding-right: 4vw;
  
   
}


.text-container p{
    font-size: 2rem;
}
.text-container h2{
    
    font-size: 2.5rem; 
}

.work{
    text-align: center;
    margin:3rem auto 4rem auto;

}

.work h1{
    font-size: 3rem;
    font-weight: normal;
}

.project{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 4rem;
    padding-left: 4vw;
    padding-right: 4vw;
}

.project img{
    max-width: 100%;
    width: 100%;
    height: auto;
    filter: drop-shadow(0 0 0.2rem #d6d4d4);
}

.project-detail{
    display: flex;
    flex-direction:column;
    padding: 1.5em;
    line-height: 1.5em;
    width: 90%;

}

.button-container {
    max-width: 15.5rem;
    width: 100%;
    margin-top: 1.5em;
    
}

.proj-button{
    padding: 0.6em;
   
    outline: #2b2826 solid 0.125rem; 
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    color: black;

}

.proj-button:hover{
    background-color: #2b2826;
    color: white;
    transition: background-color 0.3s ease;
}

footer{
    margin-top: 8rem;
    
    padding: 2rem;
    text-align: center;
    background-color:#3E3E3E;
    color: white;
}

footer a{
    margin-top: 0.2em;
    color:white;
}

footer a:hover{
    color:#bcb8b6;
}

/* project page */


.project-work h1{
    margin-left: 3rem;
    font-size: 2rem;
}

.project-info{
    margin-left: 3rem;
    display: flex;
    margin-bottom: 3rem;
    
    
    
}

.project-info h3 {
    margin-bottom: 0.2em;
}


.left-column,
.right-column {
    flex: 1;
}

.centerAlign{
    margin: auto;
    width: 50%;
    padding: 2rem;
    
}

.grid-form{
    margin:3rem 5rem;
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    gap: 0;
}

.second-para{
    margin-top: 1rem;
}

.persona{
    outline: #2b2826 solid 0.125rem; 
    margin-top: 1em;
    margin-bottom: 1em;
}

.feature{
    margin-top:2em;
    margin-bottom: 1em;
}


.design-issue{
    margin-top: 3rem;
}

.design-issue img{
   
    height: 500px;
  

}

.image-container {
    text-align: center; 
}

.iterations img{
    max-width: 100%;
    height: auto;
    margin-top: 2rem;
    
}


.center{
    text-align: center;
    margin-bottom: 4rem;
    padding: 1rem;
 
}

.center a{
  
    padding: 0.6em;
    outline: #2b2826 solid 0.125rem; 
    box-sizing: border-box;
    width: 100%;
    color: black;
}

.center a:hover{
    background-color: #2b2826;
    color: white;
    transition: background-color 0.3s ease;
}

.final-design{
    display:flex;
    flex-direction: column;
    
}



.final-design a{
    padding: 0.6em;
    outline: #2b2826 solid 0.125rem; 
    box-sizing: border-box;
    width: 100%;
    color: black;
}

.final-design a:hover{
    background-color: #2b2826;
    color: white;
    transition: background-color 0.3s ease;
}

.final-design img{
    width: 60%;
    height: auto;
    
}


/* about page */

.about-me{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 4rem;
    background-image: linear-gradient(to bottom, rgba(173, 191, 255, 0.9), rgba(214, 232, 255, 0.3));
}

.about-me img{
    height:auto;
    width:30%;
}

.line{
    width: 2px;
    height: 350px;
    background-color: #000;
    margin: 0 40px;
}

.about-info{
    margin-left: 2rem;
    max-width: 50%;
}

.about-info h2{
    margin-bottom:0.5em;
}

.contact-links{
    display: flex;
    flex-direction: column;
    color:black;

}

.hover{
    color: black;
    box-sizing: border-box;
    display: inline-block;
}

.hover:hover{
    color: blue;
    text-decoration: underline;
}